<?xml version='1.0'?>
<launch>
  <arg name="front_laser" default="false" />
  <arg name="default_config" value="front_laser" if="$(arg front_laser)" />
  <arg name="default_config" value="base" unless="$(arg front_laser)" />
  <arg name="config" default="$(arg default_config)" />

  <arg name="world_name" default="$(find dwa_dqn)/worlds/test_environment_01.world" />

  <!-- Gazebo world-->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="world_name" value="$(arg world_name)" />
      <arg name="paused" value="true" />
      <arg name="use_sim_time" value="true" />
      <arg name="gui" value="true" />
      <arg name="headless" value="false" />
      <arg name="debug" value="false" />
  </include>

  <!-- Spawn the jackal_gazebo robot -->
  <include file="$(find jackal_gazebo)/launch/spawn_jackal.launch">
    <arg name="x" value="4.986235" />
    <arg name="y" value="-8.578372" />
    <arg name="z" value="0.093517" />
    <arg name="yaw" value="1.857332" />
    <arg name="config" value="$(arg config)" />
  </include>

</launch>
